<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="iSpring" content="Free Pickup Game Finder and Organizer customized for you.">
          <title>iSport | Edit Account</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">
              <div class="header">
                   <div id="nav"></div>
              </div>
              <div class="section">
                   <h1 class="h3 text-muted">{{account.first_name}}'s | Profile</h1>
                   <!-- <img src="" alt="profile picture for {{account.first_name}} {{account.last_name}}"> -->
                   <p class="h5">Name: <span class="text-muted">{{account.first_name}} {{account.last_name}}</span></p>
                   <p class="h5">Email: <span>{{account.email}}</span></p>

                   {% if account.id == session['user_id'] %}
                       <p class="h5">Birthday: <span>{{account.birth_day}}</span></p>
                       <button type="button" id="rBtn" class="btn btn-sm btn-primary">Edit</button>
                   {% endif %}


                   <form class="rForm" action="/user/{{session['user_id']}}/update" method="post">
                        <div class="form-group">
                             <label for="first_name">First Name</label>
                             <input type="text" class="form-control" name="first_name" value="{{account.first_name}}">
                        </div>
                        <div class="form-group">
                             <label for="last_name">Last Name</label>
                             <input type="text" class="form-control" name="last_name" value="{{account.last_name}}">
                        </div>
                        <div class="form-group">
                             <label for="email">Email</label>
                             <input type="email" class="form-control" name="email" value="{{account.email}}">
                        </div>
                        <div class="form-group">
                             <label for="password">Password</label>
                             <input type="password" class="form-control" name="password" value="">
                        </div>
                        <input type="submit" class="btn btn-success" value="Update Profile">
                   </form>
              </div>
              <div class="section">
                   <h4 class="h5">Event History</h4>

                   <h4 class="h5">Future</h4>
                       {% for event in events %}
                         <p>{{event}}</p>
                       {% endfor %}

              </div>
          </div>
     </body>
</html>
