<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="iSpring" content="Free Pickup Game Finder and Organizer customized for you.">
          <title>iSport | Dashboard</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <div class="header">
                    <div id="nav"></div>
               </div>
               <div class="section">
                    <h1 class="">Welcome <span id="first-name"></span></h1>
                    <h4 class="h6 text-muted">Today is {{today}} and you have 0 event(s) today:</h4>
                    <table class="table">
                         <thead>
                              <tr>
                                   <th scope="col">Event Name</th>
                                   <th scope="col">Location</th>
                                   <th scope="col">Attendees</th>
                                   <th scope="col">Time</th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for event in events %}
                                   {% if today == event.date %}
                                   <tr>
                                       <td>{{event.type}}</td>
                                       <td>{{event.location}}</td>
                                       <td>{{event.attendess}}</td>
                                       <td> {{event.time}}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                         </tbody>
                    </table>
               </div>
               <div class="section">
                    <h4 class="h6 text-muted">Here are your joined future events:</h4>
                    <table class="table">
                         <thead>
                              <tr>
                                   <th scope="col">Event Name</th>
                                   <th scope="col">Location</th>
                                   <th scope="col">Attendees</th>
                                   <th scope="col">Date</th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for event in events %}
                                   {% if today > event.date %}
                                   <tr>
                                        <td><a href="/event/{{event.id}}">{{event.type}}</a></td>
                                        <td>{{event.location}}</td>
                                        <td>{{event.attendess}}</td>
                                        <td>{{event.date}} {{event.time}}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                         </tbody>
                    </table>
               </div>
          </div>
     </body>
</html>
