<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="iSpring" content="Free Pickup Game Finder and Organizer customized for you.">
          <title>iSport | New Event</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
         <div class="container">
              <div class="header">
                   <div id="nav"></div>
             </div>
             <div class="section">
                  <h1 class="h3 text-muted">{{name}} | Create a New Event</h1>
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                           {% for message in messages %}
                                <p style="color: red">{{message}}</p>
                           {% endfor %}
                       {% endif %}
                 {% endwith %}
                  <form class="" action="/add_event" method="post">
                       <div class="form-group">
                            <label for="type">Event type</label>
                            <input type="text" class="form-control" name="type" value="">
                       </div>
                       <div class="form-group">
                            <label for="location">Location</label>
                            <input type="location" class="form-control" name="location" value="">
                       </div>
                       <div class="form-group">
                            <label for="info">Information</label>
                            <textarea name="info" class="form-control" rows="4" cols="40"></textarea>
                       </div>
                       <div class="form-group">
                            <label for="attendees">Attendees</label>
                            <input type="text" class="form-control" name="attendees" value="">
                       </div>
                       <div class="form-group">
                            <label for="date">Event date</label>
                            <input type="date" class="form-control" name="edate" value="">
                       </div>
                       <div class="form-group">
                            <label for="time">Event time</label>
                            <input type="text" class="form-control" name="etime" value="">
                       </div>
                       <input type="submit" class="btn btn-primary" value="Add Event">
                  </form>
             </div>
         </div>
     </body>
</html>
