<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="iSpring" content="Free Pickup Game Finder and Organizer customized for you.">
          <title>iSport | New Event</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
         <div class="container">
              <div class="header">
                   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                       <a class="navbar-brand" href="/dashboard">iSport</a>
                       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                 <li class="nav-item active">
                                      <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                                 </li>
                                 <li class="nav-item">
                                      <a class="nav-link" href="/new/event">Add Event</a>
                                 </li>
                                 <li class="nav-item">
                                      <a class="nav-link" href="/search">Search</a>
                                 </li>
                                 <li class="nav-item">
                                      <a class="nav-link" href="/user">Account</a>
                                 </li>
                                 <li class="nav-item">
                                      <a class="nav-link" href="/logout">Logout</a>
                                 </li>
                            </ul>
                       </div>
                  </nav>
             </div>
             <div class="section">
                  <h1 class="h3 text-muted">{{name}} | Create a New Event</h1>
                  <form class="" action="/add_event" method="post">
                       <div class="form-group">
                            <label for="type">Event type</label>
                            <input type="text" class="form-control" name="type" value="">
                       </div>
                       <div class="form-group">
                            <label for="location">Location</label>
                            <input type="location" class="form-control" name="location" value="">
                       </div>
                       <div class="form-group">
                            <label for="info">Information</label>
                            <textarea name="info" class="form-control" rows="4" cols="40"></textarea>
                       </div>
                       <div class="form-group">
                            <label for="attendees">Attendees</label>
                            <input type="text" class="form-control" name="attendees" value="">
                       </div>
                       <div class="form-group">
                            <label for="date">Event date</label>
                            <input type="date" class="form-control" name="edate" value="">
                       </div>
                       <div class="form-group">
                            <label for="time">Event time</label>
                            <input type="text" class="form-control" name="etime" value="">
                       </div>
                       <input type="submit" class="btn btn-primary" value="Add Event">
                  </form>
             </div>
         </div>
     </body>
</html>
