<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSport | Reset Password</title>
  </head>
  <body>
    <form action="">
      <label for="password">Password</label>
      <input type="password" name="" id="" />
      <label for="password2">Re-Enter Password</label>
      <input type="pwrd-confirm" name="" id="" />
      <input type="submit" value="Reset" />
    </form>
  </body>
</html>
