<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSport | Reset Password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>iSport</h1>
        <p>Free Pickup Game Finder and Organizer</p>
        <hr />
      </div>
      <div class="col-6">
        <h2>Reset Password</h2>
        <p>Enter a new password below</p>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p style="color: red; font-weight: bold">{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <hr />
        <form action="/reset/user" method="post">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="password2">Re-Enter Password</label>
            <input
              type="password"
              name="confirm"
              class="form-control"
              value=""
            />
          </div>
          <input type="submit" class="btn btn-danger" value="Reset" />
        </form>
        <hr />
        <a href="/">Back to Sign in</a>
      </div>
    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
