<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSprot| Reset Password</title>
  </head>
  <body>
    <h1>Forgot Password?</h1>
    <p>
      Enter the email address and date of birth you used to create your iSport
      account.
    </p>
    <hr />
    <form action="/reset" method="post">
      <label for="email">Email</label>
      <input type="email" />
      <label for="birthday">Birthdate</label>
      <input type="date" />
      <input type="submit" value="Next" />
    </form>
    <hr />
    <p>
      <a href="/">Back to Sign in</a>
    </p>
  </body>
</html>
