<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="iSpring" content="Free Pickup Game Finder and Organizer customized for you.">
          <title>iSport | Search Events</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
         <div class="container">
              <div class="header">
                 <nav class="navbar navbar-dark bg-dark">
                       <h1 class="h4 text-muted navbar-brand">iSport</h1>
                       <ul class="navbar-nav">
                           {% for item in nav.top %}
                               <li class="nav-item {{ 'active' if item.is_active else '' }} ">
                                    <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
                               </li>
                           {% endfor %}
                       </ul>
                  </nav>
             </div>
             <div class="section">
                  <h1 class="h3 text-muted">{{name}} | Search for Events</h1>
                  <form class="form-inline" action="#" method="post">
                       <div class="form-group mx-sm-3 mb-2">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" name="search" class="form-control" value="Search">
                       </div>
                       <div class="form-group">
                            <label for="search_opt">Search by</label>
                            <select class="form-control mx-sm-3 mb-2" name="search_opt">
                                      {% for event in events %}
                                      <option value="{{event['id']}}">{{event['name']}}</option>
                                      {% endfor %}
                             </select>
                       </div>
                       <input type="submit" class="btn btn-primary" value="Search">
                  </form>
             </div>
             <div class="section">
                  <table class="table">
                       <thead>
                            <tr>
                                 <th scope="col">Event Name</th>
                                 <th scope="col">Location</th>
                                 <th scope="col">Attendees</th>
                                 <th scope="col">Date</th>
                                 <th scope="col">Creator</th>
                                 <th scope="col">Action</th>
                            </tr>
                       </thead>
                       <tbody>
                            {% for fevent in fevents %}
                                 <tr>
                                      <!-- update these -->
                                     <td>{{fevent.type}}</td>
                                     <td>{{fevent.location}}</td>
                                     <td>{{fevent.attendess}}</td>
                                     <td>{{fevent.date}}</td>
                                     <td>{{fevent.time}}</td>
                                     <td>{{fevent.time}}</td>
                                 </tr>
                             {% endfor %}
                       </tbody>
                  </table>
             </div>
         </div>
     </body>
</html>
